.cardRoot{
    padding: 20px 20px 0;
}

.card {
  width: -webkit-fill-available;
  height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  position: relative;
  border: 2px solid black;
}

.col {
  height: 100%;
}

.text{
    padding: 0 10px;
}
.date {
    position: absolute;
    bottom: 20px;
}

.bikeImg {
  height: 100%;
  width: 120px;
}
